.pointer {
    cursor: pointer;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar {
    padding-top: 20px;
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-width: 580px;
    width: 95%;
    margin-bottom: 60px;
}

.logo {
    width: 20%;
    display: block;
    text-align: start;
    margin-left: 2em;

}

.dropstart .dropdown-toggle::before {
    display: none;
}

#dropdown-button-drop-start {
    background-color: transparent;
    border-color: #fff;
    border-radius: 13px
}

#dropdown-button-drop-start:active {
    background-color: white;
    border-color: #f76459;
}

#dropdown-button-drop-start:hover {
    background-color: white;
    border-color: #f76459;
    color: #f76459;
}

.dropdown-item.active {
    background-color: #f76359;
}

.dropdown-item.active:hover {
    background-color: #f76459;
}

.dropdown-item.active a {
    color: white;
}

.dropdown-item a {
    color: #F77E21;
}

.wavesMobile {
    display: block;
}

.profile-img {
    border: 1.5px solid white;
    margin-left: 10px;
}

@media screen and (max-width: 320px) {
    .logo {
        width: 2.5em;
        margin-left: 1.5em;
    }

}
