.pointer {
    cursor: pointer;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar {
    padding-top: 20px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 60px;
}

.logo {
    width: 2.5em;
    display: block;
    text-align: start;
    margin-left: 2em;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

#dropdown-button-drop-start {
    background-color: transparent;
    border-color: #fff;
    border-radius: 13px
}

#dropdown-button-drop-start:active {
    background-color: white;
    border-color: #f76459;
}

#dropdown-button-drop-start:hover {
    background-color: white;
    border-color: #f76459;
    color: #f76459;
}

.dropdown-item.active {
    background-color: #f76459;
}

.dropdown-item.active:hover {
    background-color: #f76459;
}

.dropdown-item.active a {
    color: white;
}

.dropdown-item a {
    color: #F77E21;
}

.nav-mobile {
    display: none;
}

.nav-desktop {
    display: none;
    background-image: url('../../assets/img/navbar-mb.svg');
    background-size: cover;
    width: 100%;
    height: 25vh;
}

.full-width {
    width: 100%;
}

.wavesMobile {
    display: none;
}

.wavesDesktop {
    display: none;
}

.profile-img {
    border: 1.5px solid white;
    margin-left: 10px;
}

@media screen and (max-width: 320px) {
    .logo {
        margin-left: 1.4em;
    }

}

@media screen and (max-width: 768px) {
    .wavesMobile {
        display: block;
    }

    .wavesDesktop {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .nav-desktop {
        display: none;
    }

    .logo {
        width: 20%;
    }
}

@media screen and (min-width: 769px) {
    .wavesMobile {
        display: none;
    }

    .wavesDesktop {
        display: block;
    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: block;
    }


}