.deleteUser-btn {
    background-color: #F75E66;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.tabs {
    margin: 50px 0;
    text-align: center;
}

.profile-card img {
    margin: 20px 0
}

.profile-card h1 {
    margin: 30px 0
}

.edit-btn {
    background-color: #F77E21;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

#uncontrolled-tab-example-tab-Tus-mazos {
    color: black;
}

#uncontrolled-tab-example-tab-Tus-mazos.active {
    color: #ec2731;
    border: solid 2px #F75E66;
    border-bottom: none
}

#uncontrolled-tab-example-tab-Tus-cartas {
    color: black;
}

#uncontrolled-tab-example-tab-Tus-cartas.active {
    color: #F77E21;
    border: solid 2px #F77E21;
    border-bottom: none
}