.containerHP {
    margin-top: 60px;
}

.play-btn {
    padding: 15px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin: 0 10px 50px 10px;
}

.pink {
    background-color: #F75E66;
}

.orange {
    background-color: #F77E21;
}

.logoHP img {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
}